@import "./vars.css";

.contact-section {
    width: 80%;
    height: auto;
    display: flex;
    /* background: url("https://i.ibb.co/VxvVMz2/bg1.jpg") no-repeat center
    center/cover; */
    background-color: #333232;
    padding: 60px 20px;
    top: 0px;
    left: 0px;
    color: #fff;
}

.text {
    text-align: center;

}


.contact-detail {
    margin-top: 30px;
    width: 100%;
}

.contact-input {
    width: 60%;
    margin: 0 auto;
    background: transparent;
    border: none;
    padding-top: 2%;
}
.contact-textarea {
    width: 60%;
    align-items: center;
    margin: 0 auto;
    background: transparent;
    border: none;
    padding-top: 2%;
    display: block;
    overflow: hidden;
    resize: none;
}


.contact-detail .contact-input input {
    width: 100%;
    border-radius: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    
    color: #333;
    background-color: #fff;
    border-radius: 20px;
    outline: none;
    font-size: 1.3rem;
    font-family: "Bree Serif", serif;

}

.contact-detail button {
    width: 10%;
    height: 10%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}

