@import "./vars.css";
.mainarea {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
    /* background: url("https://media.istockphoto.com/id/1296986175/photo/young-man-working-for-a-food-delivery-service-checking-with-road-motorcycle-in-the-city.jpg?b=1&s=170667a&w=0&k=20&c=qQW2UKEJiiEWQNJRN3_HYdDSt6dUOzAukfb_nsnMfTw=") no-repeat center
  center/cover; */
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 40px;
 
}
.mainarea.admin{
  width: 100%;
}
.header {
  width: 100%;
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.header .input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff5f2;
  width: 300px;
  border-radius: 30px;
  padding: 0px 20px;
}
.burger {
  display: none;
}
.header img {
  width: 100%;
  height: 50px;
}
.header .input svg {
  width: 10%;
  color: var(--text-gary);
  font-size: 18px;
}
.header input {
  width: 90%;
  background: transparent;
  padding: 10px 0px;
}
.header input::placeholder {
  color: var(--text-gary);
  font-family: "Poppins", sans-serif;
}
.banner {
  width: 100%;
  height: 250px;
  background:#ed0c0c;
  background: url("https://cdn.shopify.com/s/files/1/0679/7567/6206/files/narrow_food_banner_1445x.png?v=1670067369") no-repeat center
  center/cover;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  position: relative;
  
}
.banner p {
  color: rgb(255, 255, 255);
  font-weight: 600;
 margin: 10px 0px;
}
.banner h2{
  color: rgb(255, 255, 255);
}
.banner p span {
  color:rgb(238, 133, 6)
}
.banner .img img {
  height: 220px;
  width: 230px;
}
.banner .text {
  margin-left: 4rem;
}
.banner button {
  padding: 8px 20px;
  margin-top: 10px;
  background: rgb(252 213 97);
  color:#333;
}
.banner .text .circle {
  height: 100px;
  width: 100px;
  position: absolute;
}
.banner .text .circle.full {
  top: 30px;
  right: 20px;
}
.banner .text .circle.small {
  height: 50px;
  width: 50px;
  bottom: 30px;
  right: 60px;
}
.banner .text .circle.smaller {
  height: 20px;
  width: 20px;
  bottom: 70px;
  right: 120px;
}
.banner .text .circle.half {
  height: 50px;
  width: 50px;
  top: 0px;
  right: 120px;
}
.category-area {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3rem;

}
.category-area .category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;

  text-align: center;
}

.category-area .category .cat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 90px;

  background-color:#ed0c0c;
  margin: 0 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  color:#fff;
  padding: 6px;
  border-radius: 36px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  margin-right: 18px;
}

.category-area .category .cat-icon:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color:#333;
  background: rgb(252 213 97);
  border: 1px solid var(--secondary-color-lighter);
  border-radius: 50%;
}
/* .category-area .category .cat-icon:nth-child(1) {
  margin-left: 0px;
} */
.category-area .category .cat-icon .img {
  padding: 10px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
}
.category-area .category .cat-icon img {
  width: 30px;
  height: 30px;
}
.all-products {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.all-products .product-card {
  width: 200px;
  padding: 15px;
 
  border-radius: 10px;
  background: #fff5f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 30px;
  margin-top: 20px;
  position: relative;
}
.product-card .love {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 7px;
  background: rgba(241, 115, 115, 0.34);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.product-card .love svg {
  font-size: 18px;
  font-weight: 600;
  color: var(--danger);
}
.product-card .add-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(252 213 97);
  color:#333;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #f48f0156;
  cursor: pointer;
}

.all-products .product-card img {
  width: 150px;
  height: 150px;
}
.all-products .product-card .des {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-card .des h3 {
  color: var(--text-gary);
  font-size: 16px;
  text-transform: initial;
}
.product-card .des .starts svg {
  font-size: 13px;
  color: var(--primary);
}
.product-card .des .price {
  font-size: 15px;
}
.product-card .des .price span {
  font-size: 12px;
  color: var(--primary);
}
.search-bar input {
  padding: 2px 0;
}


@media (max-width: 1104px) {
  .mainarea {
    width: 100%;
    margin-left: 0px;
  }
  .burger {
    display: block;
    margin-right: 10px;
  }
  .burger svg {
    font-size: 22px;
    font-weight: 600;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 1104px) {
  
  .category-area .category {
    overflow-x: scroll;
    
  }
  .category-area .category::-webkit-scrollbar {
    height: 3px;
  }
  .all-products .product-card {
    margin: 20px;
  }
  .all-products .product-card:nth-child(1) {
    margin-left: 20px;
  }
}
@media (max-width: 630px) {
  .banner {
    flex-direction: column;
    height: auto;
    padding: 20px 15px;
  }
  .mainarea {
    padding: 10px;
  }
  .banner .img img {
    z-index: 10;
  }
}
@media (max-width: 475px) {
  .all-products {
    align-items: center;
    justify-content: center;
  }
  .header {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
}
